.background {
    background-color: white;
}

.back {
    background: rgb(192, 192, 192);
    width: 1266px;
    height: 680px;
    position: absolute;
    left: 10%;
    top: 4.5%;
    border-radius: 30px;
}

.circle {
    width: 486px;
    height: 680px;
    position: absolute;
    left: 10%;
    top: 4.5%;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 120%;
    border-bottom-right-radius: 120%;

}

.username {
    right: 40vh;
    position: absolute;
    width: 450px;
    height: 59px;
    bottom: 48.5vh;
    border-radius: 100px;
    background-color: rgb(210, 210, 210);
    text-align: center;
}

.password {
    right: 40vh;
    position: absolute;
    width: 450px;
    height: 59px;
    bottom: 39.8vh;
    border-radius: 100px;
    background: rgb(210, 210, 210);
    text-align: center;
    
}



.hi {
   
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
    position:  absolute;
    left: 52%;
    top: 23%;
   
}

.hii {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    position:  absolute;
    left: 52%;
    top: 30%;
}

.forget {

    color: rgb(255, 255, 255);
    font-weight: 400;
    position:  absolute;
    left: 52%;
    top: 61%;
    font-weight: 500;
    font-size: 20px;
}

.wong {
    width: 366px;
    height: 480px;
    position: absolute;
    left: 110px;
    top: 17%;
}

.logo {
    width: 146px;
    height: 110px;
    position: absolute;
    left: 10px;
    bottom: 80%;
}

.bg {
    position:  absolute;
    left: 51.5%;
    top: 69%;
    width: 450px;
    height: 59px;
    border-radius: 100px;
    background: rgb(77, 77, 206)
    

}

.butt {
    position:  absolute;
    left: 80%;
    top: 85%;
    width: 150px;
    height: 49px;
    border-radius: 100px;
    color: white;
}

.robot {
    width: 146px;
    height: 180px;
    position: absolute;
    left: 550px;
    top: 65%;
}