header{
    padding: 5px 15px;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 45px;
    background-color: #760305;
}

header img{
    float: left;
    border-radius: 5px;
    background-color: #630506;
    padding: 5px 15px;
    width: auto;
    height: 35px;
    margin-right: 10px;
}

header h4{
    text-align: right;
    margin: 5px 0;
    text-overflow: ellipsis;
    font-family: Poppins;
    font-size: 16px;
    overflow: hidden;
}

header .profile{
    background-color:#630506;
    border-radius: 5px;
    padding: 0 10px;
    margin-left: 10px;
    float: right;
    display: flex;
}

header .profile img{
    padding: 0;
    margin: 5px 0;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
}

header .profile p{
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    font-family: Poppins;
    margin: 8px 0;
}

.navbar{
    overflow:auto;
    padding: 0 10px;
    padding-top: 45px;
    background-color: #FFE9E9;
    position: fixed;
    display: grid;
    width: 55px;
    height: 100%;
}

.text {
    display: none;
}

.navbar::-webkit-scrollbar{
    display: none;
}

.navbar li{
    background-color:  #B95F64;
    border-radius: 5px;
    transition: 0.3s;
}

.navbar li a{
    margin: 5px 10px;
    display: flex;
}

.navbar .active{
    background-color: #980C14;
    transition: 0.3s;
}


svg {
    margin-top: 1%;
    width: 16px;
    height: 16px;
}


.line {
    height: 4px;
    background-color: #640006;
    margin-top:5px ;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 20px;
}

.menutxt{
    display: none;
}


.navbar:hover{
    overflow: auto;
    padding: 0 10px;
    padding-top: 45px;
    height: 100%;
    background-color: #FFE9E9;
    position: fixed;
    display: grid;
    font-family: Poppins;
    width: auto;
}


.navbar:hover .line {
    height: 4px;
    background-color: #640006;
    margin-top:5px ;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
}

.navbar:hover .text {
    display: block;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 450;
    margin-left: 10px;
    color: white;
}

.navbar:hover .menutxt {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #640006;
    font-weight:600;
    
}

.navbar:hover li:hover{
    background-color: #3f2225;
}

.navbar:hover .active:hover{
    background-color: #980C14;
}


@media screen and (max-height: 800px) {
    .navbar li{
        margin-top: 3px;
    }

    .navbar:hover li{
        margin-top: 5px;
    }
}