.nav {
    position: relative;
    width: 100vw;
    height: 5vw;
    top: 0vw;
    background:  #760305;
}

.logo{
    position: relative;
    top: 0.5vw;
    left: 2vw;
    width: 10vw;
    height: 4vw;
    background: #630506;
    border-radius: 0.5vw;
}
.logo img{
    position: absolute;
    width: 9vw;
    margin-top: 0.3vw;
    left: 0.5vw;
}

.nav h1{
    color: white;
    font-weight: 400;
    top: 10vw;
    left: 78vw;
    top: 1.5vw;
}